@model TrafficGuard.Models.AccidentReport

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @if (ViewBag.Error != null)
    {
            <script>alert('@ViewBag.Error')</script>
    }
</head>

<h1>Report</h1>

<h4>Accident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumVehicles" class="control-label"></label>
                <input asp-for="NumVehicles" class="form-control" />
                <span asp-validation-for="NumVehicles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PathToFiles" class="control-label"></label>
                <input asp-for="PathToFiles" class="form-control" />
                <span asp-validation-for="PathToFiles" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TrustWorthyRating" class="control-label"></label>
                <input asp-for="TrustWorthyRating" class="form-control" />
                <span asp-validation-for="TrustWorthyRating" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <span>@TempData["msg"]</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
