@model TrafficGuard.Models.Accident

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @if (ViewBag.Error != null)
    {
        <script>alert('@ViewBag.Error')</script>
    }
</head>

<h1>Create</h1>

<h4>Accident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Location Id</label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId" style="border:none;">
                    <option>Select Location Id</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" style="border:none;"/>
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumVehicles" class="control-label"></label>
                <input asp-for="NumVehicles" class="form-control" style="border:none;" />
                <span asp-validation-for="NumVehicles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" style="border:none;" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathToFiles" class="control-label"></label>
                <input asp-for="PathToFiles" class="form-control" style="border:none;" />
                <span asp-validation-for="PathToFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrustWorthyRating" class="control-label"></label>
                <input asp-for="TrustWorthyRating" class="form-control" style="border:none;" />
                <span asp-validation-for="TrustWorthyRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: white">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
